USE [master]
GO
/****** Object:  Database [TechnicalTest]    Script Date: 04/03/2013 12:13:27 ******/
CREATE DATABASE [TechnicalTest] ON  PRIMARY 
( NAME = N'TechnicalTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TechnicalTest.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TechnicalTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TechnicalTest_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TechnicalTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TechnicalTest]
GO
/****** Object:  Table [dbo].[TBTASK]    Script Date: 04/03/2013 12:13:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBTASK](
	[TASKID] [int] IDENTITY(1,1) NOT NULL,
	[TASKNAME] [nvarchar](25) NOT NULL,
	[STARTDATE] [date] NOT NULL,
	[DUEDATE] [date] NOT NULL,
	[COMPLETIONDATE] [date] NULL,
	[COMMENTS] [nvarchar](50) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_TBTASK] PRIMARY KEY CLUSTERED 
(
	[TASKID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBTASK] ON
INSERT [dbo].[TBTASK] ([TASKID], [TASKNAME], [STARTDATE], [DUEDATE], [COMPLETIONDATE], [COMMENTS], [STATUS]) VALUES (1, N'Tarea1', CAST(0x45350B00 AS Date), CAST(0x53350B00 AS Date), NULL, N'comment1', 0)
INSERT [dbo].[TBTASK] ([TASKID], [TASKNAME], [STARTDATE], [DUEDATE], [COMPLETIONDATE], [COMMENTS], [STATUS]) VALUES (3, N'Tarea2', CAST(0x45350B00 AS Date), CAST(0x0C370B00 AS Date), NULL, N'comment2', 0)
INSERT [dbo].[TBTASK] ([TASKID], [TASKNAME], [STARTDATE], [DUEDATE], [COMPLETIONDATE], [COMMENTS], [STATUS]) VALUES (4, N'Tarea3', CAST(0x75360B00 AS Date), CAST(0xF0360B00 AS Date), NULL, N'comment3', 0)
SET IDENTITY_INSERT [dbo].[TBTASK] OFF
/****** Object:  StoredProcedure [dbo].[updateTasks]    Script Date: 04/03/2013 12:13:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[updateTasks]
(
	@pTASKID [int],
	@pTASKNAME [nvarchar](25),
	@pSTARTDATE [date],
	@pDUEDATE [date],
	@pCOMPLETIONDATE [date],
	@pCOMMENTS [nvarchar](50),
	@pSTATUS [bit]
)
AS
UPDATE [TechnicalTest].[dbo].[TBTASK]
   SET [TASKNAME] = @pTASKNAME,[STARTDATE] = @pSTARTDATE,
   [DUEDATE] = @pDUEDATE,[COMPLETIONDATE] = @pCOMPLETIONDATE,
   [COMMENTS] = @pCOMMENTS,[STATUS] = @pSTATUS
 
 WHERE TASKID=@pTASKID
GO
/****** Object:  StoredProcedure [dbo].[unfinishedTasks]    Script Date: 04/03/2013 12:13:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[unfinishedTasks]
(
  @pDUEDATE date
)
as 
SELECT     TASKNAME, STARTDATE, COMMENTS, COMPLETIONDATE, DUEDATE, STATUS
FROM         dbo.TBTASK
WHERE     (DUEDATE < @pDUEDATE) and (STATUS = 0)
GO
/****** Object:  StoredProcedure [dbo].[insertTasks]    Script Date: 04/03/2013 12:13:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insertTasks]
(	
	@pTASKNAME [nvarchar](25),
	@pSTARTDATE [date],
	@pDUEDATE [date],
	@pCOMPLETIONDATE [date],
	@pCOMMENTS [nvarchar](50),
	@pSTATUS [bit]
)
AS
INSERT INTO [TechnicalTest].[dbo].[TBTASK]
           ([TASKNAME]
           ,[STARTDATE]
           ,[DUEDATE]
           ,[COMPLETIONDATE]
           ,[COMMENTS]
           ,[STATUS])
     VALUES
           (@pTASKNAME, @pSTARTDATE, @pDUEDATE, @pCOMPLETIONDATE, @pCOMMENTS, @pSTATUS)
GO
/****** Object:  StoredProcedure [dbo].[dueTasks]    Script Date: 04/03/2013 12:13:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[dueTasks]
(
  @pDUEDATE date
)
as 
SELECT     TASKID, TASKNAME, STARTDATE, COMMENTS, DUEDATE
FROM         dbo.TBTASK
WHERE     (DUEDATE = @pDUEDATE)
GO
/****** Object:  StoredProcedure [dbo].[allTasks]    Script Date: 04/03/2013 12:13:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[allTasks]
as 
select * from TBTASK
GO
